/* Set a background color for the body */
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
div {
    max-width: 500px;
    border: 2px solid #5555558c;
    border-radius: 5px;
    box-shadow: 15px 15px 15px rgb(176, 176, 175) ,-15px -15px 15px rgb(176, 176, 175);
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4 {
    color: #333;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

h3 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-left: 25%;
}

h4 {
    font-size: 16px;
    margin-top: 10px;
    word-spacing: 8px;
}
p {
    color: #666;
    font-size: 16px;
    margin-top: 10px;
    word-spacing: 8px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px 0;
    float: right;
    margin-top: 2.5em;
}
ol {
    margin-top: 15px;
}
ol li {
    margin-bottom: 8px;
    font-size: 14px;
}
img.animal-image {
    border: 2px solid #555;
    border-radius: 8px;
    margin: 0 auto; /* Center the image */
    display: block;
    max-width: 100%; /* Ensure visibility in full */
    height: auto;
}

/* Additional styling for specific elements or classes can be added as needed */
